<div class="jumbotron">
    <h1 class="title"></h1>
    <p class="slogan">Everyone is Satoshi Nakamoto</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Join Us Now</a></p>
  </div>


  <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">比特币缔造者. Satoshi Nakamoto.  永远的传奇. 目前为止竟还没人知道. 他到底是谁</h2>
           <p class="lead"></p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag '中本聪1.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-b">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">比特币 Bitcoin 加密货币的集大成者. 此物一出天下反</h2>
           <p class="lead"> <a target="_blank" href="http://blog.niclin.tw"></a>! 啦啦啦啦啦啦啦</p>
         </div>
         <div class="col-lg-5 col-sm-pull-6  col-sm-6">
           <%= image_tag '加密货币9.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">区块链(技术) BlockChain(tec.) 将是继互联网之后 新一轮科技革命引领者<br></h2>
           <p class="lead"><a target="_blank" href="https://forum.qzy.camp/"></a></p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag '区块链7.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>


  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/04/22/58fac81dea307.jpeg" alt="位置200*196.jpeg" title="位置200*196.jpeg" />
          <div class="caption">
            <h3>New World</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
        <img src="https://ooo.0o0.ooo/2017/04/21/58f9e375a4a40.png" alt="邮箱2.png" title="邮箱2.png" />
          <div class="caption">
            <h3>bitcoin@gamil.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/04/21/58f9e2bc2cc12.png" alt="电话2.png" title="电话2.png" />
          <div class="caption">
            <h3>400-65688899</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
