<div class="jumbotron">
    <h1 class="title"></h1>
    <p class="slogan">Everyone is Satoshi Nakamoto</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Join Us Now</a></p>
  </div>


  <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">比特币创始人Satoshi Nakamoto</h2>
           <p class="lead"></p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag '中本聪1.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-b">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">比特币Bitcoin</h2>
           <p class="lead"> <a target="_blank" href="http://blog.niclin.tw"></a>! 啦啦啦啦啦啦啦</p>
         </div>
         <div class="col-lg-5 col-sm-pull-6  col-sm-6">
           <%= image_tag '加密货币9.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">区块链BlockChain<br></h2>
           <p class="lead"><a target="_blank" href="https://forum.qzy.camp/"></a></p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag '区块链7.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>


  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>New World</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>bitcoin@gamil.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>400-65688899</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
