// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jobs_bg {
  background-image:url('https://ooo.0o0.ooo/2017/04/21/58fa27e7d9138.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px;
  margin-top: -13px;
}
